*{
    margin: 0;
    padding: 0;

}
.navbar-collapse{
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0 60px;
}
.navbar{
    height: 100px;
}
.img-nav{
    max-height: 50px;
    max-width: 50px;
    margin: auto;
}
.link-logo{
    margin: auto;
    padding-left: 10px;
    font-size: 50px;
    font-weight: 500;
}
.link-barra{
    font-size: 20px;
    margin: 0 10px;
    font-weight: 500;
}
.link-navegacion{
    transition: all;
}
.link-navegacion:hover{
    border-bottom: 2.5px solid #00A5FF;
}

.title{
    font-size: 80px;
}